body{
    background-image: url(penimage.avif);
    background-repeat: repeat;
    background-size: 1500px 1000px;
}
form{
    border: solid;
    width: 550px;
    margin-left: 10px;
    padding-left: 10px;
}
label{
    font-size: 22px;
    color: black;
    font-weight: bold;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 10px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 30px;
    width: 100px;
    padding-left: 10px;
    margin-bottom: 5px;
}